@font-face {
    font-family: 'YuseiMagic-Regular';
    src: url('../fonts/YuseiMagic-Regular.eot');
    src: url('../fonts/YuseiMagic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/YuseiMagic-Regular.svg#YuseiMagic-Regular') format('svg'),
         url('../fonts/YuseiMagic-Regular.ttf') format('truetype'),
         url('../fonts/YuseiMagic-Regular.woff') format('woff'),
         url('../fonts/YuseiMagic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }