.alert {
    @include invis;
    @include font ('YuseiMagic-Regular', 30px, $white2);
    @include size(100vw, 100vh);
    backdrop-filter: blur(7px) grayscale(1);
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    z-index: 10;
    transition: all .5s linear;
}