.checkbox {
    &_button {
        display: none;

        &:checked + .checkbox_label {
            background-color: rgb(102, 177, 127);
        }
    }

    &_label {
        @include font ('YuseiMagic-Regular', 16px, $white2);
        @include size(50px, 50px);
        @include invis;
        background-color: rgb(170, 97, 131);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        transition: all 1s linear;
        cursor: pointer;
    }
}