.restart {
    @include size(50px, 50px);
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: all .4s linear;

    &:hover > &_image {
        transform: rotate(450deg);
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }

    &_image {
        margin: 5px;
        transform: rotate(90deg);
        filter: invert(100%) sepia(51%) saturate(2878%) hue-rotate(275deg) brightness(104%) contrast(97%);
        transition: all .4s linear;
    }
}