.shop {
    @include invis;
    @include font ('YuseiMagic-Regular', 20px, $white2);
    width: 300px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 112px;
    transition: all 1s linear;

    &_list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_item {
        margin: 0 10px;
        cursor: pointer;
        
        transition: all .5s linear;

        &:first-child {
            cursor: auto;
            margin: 10px 0 0;
        }

        &:hover {
            background-color: rgba(100, 100, 100, 0.9);

            &:first-child {
                background-color: unset;
            }

            &:last-child {
                cursor: auto;
                background-color: unset;
            }
        }
    }

    &_image {
        @include size(300px, 250px);
    }

    &_button {
        width: 150px;
        margin-bottom: 10px;
    }

    @media (max-width: 900px) {
        bottom: 214px
    }

    @media (max-height: 850px) {
        font-size: 15px;

        &_image {
            @include size(300px, 100px);
        }
    }
}