.forest_reject {
    @include size (300px, 180px);
    @include font ('YuseiMagic-Regular', 25px, $white2);
    @include invis;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -90px 0 0 -150px;
    transition: all 1s linear;
    text-align: center;
    background-color: rgba($color: #b84a4a, $alpha: 0.7);
}