.hero_lore {
    @include invis;
    display: none;
    width: 40%;
    position: fixed;
    left: 10px;
    bottom: 1120px;
    top: -1000px;
    transition: all 1s linear;
    @include font ('YuseiMagic-Regular', 25px, $white2);
    padding: 10px;
    text-align: justify;
    visibility: hidden;
}